@using System.Linq
@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using ProjectManagement_cum_feedback_systemMVC.Models
@model ProjectManagement_cum_feedback_systemMVC.Models.project_issue
<input id="myInput" type="text" placeholder="Search issue.." style="margin: 10px 0;"><span class="input-group-addon">
    <i class="fa fa-search"></i>
</span>

<div id="myissue">
@foreach (project_issue pi in ViewBag.issuemodal)
{
    Model1 m = new Model1();

    project_issue_assign ptest = m.project_issue_assigns.Find(pi.issue_Id, User.Identity.GetUserId());

    if (ptest != null)
    {
        ViewBag.roleb = "admin";
    }
    else
    {
        ViewBag.roleb = "notadmin";
    }

    <div class="border border-dark" id="searchissue">
    <div class="wrapper p-3" id="story" style="background-color: rgb(220, 220, 220);overflow-y: auto">
    <b id="issuetitle1">Title : @pi.issue_title</b> <br />
    <b id="issuetitle2">Description: @Html.Raw(pi.issue_desc)</b><br />
    <div class="row nunito">

    <div class="col-3">
        <div class="profile-item">

            <div class="d-flex align-items-center pt-1">
                <b> Type:    @if (pi.issue_type == issue_type.newfeature)
                             { @:New Feature
                             }
                             else if (pi.issue_type == issue_type.bug)
                             {
                                 @:Bug
                             }
                             else
                             {
                                 @:Improvement
                             }
                </b>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="profile-item">
        @if (ViewBag.rolef != "admin" && ViewBag.roleb != "admin")
        {
            <div class="d-flex align-items-center pt-1">
           
                <b>
                    Status :
                    @if (pi.issue_status == issue_stat.done)
                    {
                        @:Done
                    }
                    else if (pi.issue_status == issue_stat.inprogress)
                    {
                        @:Inprogress
                    }
                    else
                    {
                        @:To Do
                    }
                </b>
         
            </div>
        }
        else
        {
            <form>
                <input name="issueid" id="issueid" value="@pi.issue_Id" hidden />
                <input name="role" id="role" value="@ViewBag.rolef" hidden />
                <input name="pid" value="@pi.project_Id" id="pid" hidden />
                <select class="custom-select mr-sm-2" name="statuschange" id="statuschange">
                    Priority:     @if (pi.issue_status == issue_stat.todo)
                    {
                                                <option>Choose...</option>
                                                <option selected value=@issue_stat.todo>To Do</option>
                                                <option value=@issue_stat.inprogress>In Progress</option>
                                                <option value=@issue_stat.done>Done</option>
                                                
                    }
                    else if (pi.issue_status == issue_stat.inprogress)
                    {
                        <option>Choose...</option>
                        <option value=@issue_stat.todo>To Do</option>
                        <option selected value=@issue_stat.inprogress>In Progress</option>
                        <option value=@issue_stat.done>Done</option>
                    }
                    else if (pi.issue_status == issue_stat.done)
                    {
                        <option>Choose...</option>
                        <option value=@issue_stat.todo>To Do</option>
                        <option value=@issue_stat.inprogress>In Progress</option>
                        <option selected value=@issue_stat.done>Done</option>
                    }
                    else
                    {
                        
                    }
                   
                    

                </select>

                <div class="profile-item">
                    <button type="button" value="changestatusbtn" class="btn btn-success">Change Status</button>

                </div>



            </form>
            //}

        
        }
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="profile-item">
                    @if (ViewBag.rolef != "admin" && ViewBag.roleb!="admin")
                    {
                        <div class="d-flex align-items-center pt-1">
                            <b>
                                Priority:     @if (pi.priority == 0)
                                              { @:Very Low
                                              }
                                              else if (pi.priority == 1)
                                              {
                                                  @:Low
                                              }
                                              else if (pi.priority == 2)
                                              {
                                                  @:High
                                              }
                                              else
                                              {
                                                  @:Very High
                                              }
                            </b>
                        </div>
                    }
                    else
                    {
                        // using (Html.BeginForm("changePriority", "Project", FormMethod.Post))
                        // {
                        <form>
                            <input name="issueid" id="issueid" value="@pi.issue_Id" hidden />
                            <input name="role" id="role" value="@ViewBag.rolef" hidden />
                            <input name="pid" value="@pi.project_Id" id="pid" hidden />
                            <select class="custom-select mr-sm-2" name="issuepriochange" id="issuepriochange">
                                Priority:     @if (pi.priority == 0)
                                              {
                                                  <option>Choose...</option>
                                                  <option selected value="0">Very Low</option>
                                                  <option value="1">Low</option>
                                                  <option value="2">High</option>
                                                  <option value="3">Very High</option>
                                              }
                                              else if (pi.priority == 1)
                                              {
                                                  <option>Choose...</option>
                                                  <option value="0">Very Low</option>
                                                  <option selected value="1">Low</option>
                                                  <option value="2">High</option>
                                                  <option value="3">Very High</option>
                                              }
                                              else if (pi.priority == 2)
                                              {
                                                  <option>Choose...</option>
                                                  <option value="0">Very Low</option>
                                                  <option value="1">Low</option>
                                                  <option selected value="2">High</option>
                                                  <option value="3">Very High</option>
                                              }
                                              else
                                              {
                                                  <option>Choose...</option>
                                                  <option value="0">Very Low</option>
                                                  <option value="1">Low</option>
                                                  <option value="2">High</option>
                                                  <option selected value="3">Very High</option>

                                              }

                            </select>

                            <div class="profile-item">
                                <button type="button" value="changeprioritybtn" class="btn btn-success">Change Priority</button>
                                           
                            </div>
                                        
                                      

                        </form>
                        //}

                    }
                </div>
            </div>
            <div class="col-6">
                @if (@ViewBag.rolef == "admin")
                {

                                    @*
                                    @Html.ActionLink("Remove Issue", "removeIssue", "Project", new { projid = @pi.project_Id, issid = @pi.issue_Id, urole = @ViewBag.rolef }, new { @class = "btn btn-danger" })
                                *@
                    <div id="issue">
                        <input name="issueid" id="issueid" value="@pi.issue_Id" hidden />
                        <button type="button" class="btn btn-danger" value="removeissuebtn" class="btn btn-success">Remove Issue</button>
                        <button class="btn btn-outline-primary" style="margin-top:40px!important;" data-toggle="modal"
                                data-target="#assignissue" value="aissue">
                            Assign Issue
                        </button>

                        <div class="modal" id="assignissue">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Assign Issue</h4>
                                        <button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <h4 class="pl-3">Team Member's Email:</h4>
                                            <input type="text" name="teamemail" id="teamemail">
                                        </div>
                                        <div class="form-group">
                                            <h4 class="pl-3">Start Date:</h4>
                                            <input type="date" name="startdate" id="startdate">
                                        </div>
                                        <div class="form-group">
                                            <h4 class="pl-3">End Date:</h4>
                                            <input type="date" name="enddate" id="enddate">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input name="issueid" id="issueid" value="@pi.issue_Id" hidden />
                                        <button type="button" value="assignuser" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                            
                            
            </div>

        </div>

    </div>
    <div>
    @{
        int issueid = pi.issue_Id;
        var issueuser = m.project_issue_assigns.Where(x => x.issue_Id == issueid);
        ApplicationUserManager au = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
        int c = 0, p = 0, f = 0;
        foreach (project_issue_assign pia in issueuser)
        {
            <div></div>
            DateTime suserdate = pia.startdate;
            DateTime euserdate = pia.enddate;
            DateTime today = DateTime.Now;

            int v1 = DateTime.Compare(today, suserdate);
            int v2 = DateTime.Compare(euserdate, today);

            if (v1 >= 0 && v2 >= 0)
            {
                if (c == 0)
                {
                    <p style="display: block">Currently Working Team Members:</p>
                }
                <p style="color: green">@au.FindById(pia.user_Id).Email</p>
                c++;
            }

            if (v2 < 0)
            {
                if (p == 0)
                {
                    <p>Previously Worked Team Members:</p>
                }
                <p style="color: brown">@au.FindById(pia.user_Id).Email</p>
                p++;
            }

            if (v1 < 0)
            {
                if (f == 0)
                {
                    <p>Working in Upcoming Dates:</p>
                }
                <p style="color: blue">@au.FindById(pia.user_Id).Email</p>
                f++;
            }
            
        }
    }
    </div>
    </div>
    </div>
    </div>
    <br/>
                                    }
</div>

<script>
    $(document).ready(function() {
        $('button').click(function() {
            if ($(this).val() == "changeprioritybtn") {
                var x = $(this).closest('form').find('#issueid').val();
                var y = $(this).closest('form').find('#issuepriochange').val();
                var z = $(this).closest('form').find('#pid').val();
                var w = $(this).closest('form').find('#role').val();
                //console.log(x);
                //console.log(y);
                $.ajax({
                    type: "post",
                    url: "@Url.Action("changePriority", "Project")",
                    data: { issueid: x, issuePriority: y, pid: z, role: w },
                    success: function(d) {

                        $("#filter").trigger("click");
                    }

                });
            } else {
                if ($(this).val() == "removeissuebtn") {
                    var value = $(this).siblings('input').val();
                    //console.log(value);
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("removeIssue", "Project")",
                        data: {issueid:value},
                        success: function(d) {
                            $("#filter").trigger("click");
                        
                        }

                    });
                }
            }
        });
    });
</script>


<script>
    $(document).ready(function() {
        $('button').click(function() {
            if ($(this).val() == "changestatusbtn") {
                var x = $(this).closest('form').find('#issueid').val();
                var y = $(this).closest('form').find('#statuschange').val();
                var z = $(this).closest('form').find('#pid').val();
                var w = $(this).closest('form').find('#role').val();
                //console.log(x);
                //console.log(y);
                $.ajax({
                    type: "post",
                    url: "@Url.Action("changeStatus", "Project")",
                    data: { issueid: x, statuschange: y, pid: z, role: w },
                    success: function(d) {

                        $("#filter").trigger("click");
                    }

                });
            }
        });
    });
</script>


<script>
    $(document).ready(function () {
        var iid;
        $('button').click(function () {
            
            if ($(this).val() == "aissue") {
                iid = $(this).siblings('input').val();
                console.log(iid);
            }

            if ($(this).val() == "assignuser") {
                var teamemail = $("#teamemail").val();
                var startdate = $("#startdate").val();
                var enddate = $("#enddate").val();
                var value1 = iid;
                console.log(value1);
                $.ajax({
                    type: "post",
                    url: "@Url.Action("assignIssue", "Project")",
                    data: {tmail:teamemail,sdate:startdate,edate:enddate,issueid1:value1},
                    success: function(d) {
                        $("#closebtn").trigger("click");
                        $("#filter").trigger("click");
                    },
                    error: function() {
                        $("#closebtn").trigger("click");
                    }


                });
            }
        });
    });

</script>

<script>
    $(function () {
        $('#teamemail').autocomplete(
            {
                source: '@Url.Action("getTeamEmail")',
                
            });
    });
</script>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchissue #issuetitle1").filter(function () {
                $(this).closest('#searchissue').toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
           
        });
    });
</script>

