@using System.Diagnostics.Eventing
@using System.Web.UI.HtmlControls
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using ProjectManagement_cum_feedback_systemMVC.Models
@model ProjectManagement_cum_feedback_systemMVC.Models.project_user
@{
    ViewBag.Title = "CreateProject";
}



@section Scripts {
    <link rel="stylesheet" href="../../Content/css/style.css">
    <link rel="stylesheet" href="../../Content/css/post.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 
}


@{

    <style>
        body > div.container-fluid > div > div.col-9 > div > div > div > a {
            color: black;
        }

            body > div.container-fluid > div > div.col-9 > div > div > div > a > div:hover {
                transition: 1s ease-in-out forwards;
                transform: scale(1.02);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            }

        body > div > div > div > div.col-2.wrapper-rounded > div:nth-child(2) > div > a        {
            text-decoration: none;
            color: #868e96;
        }

            body > div.container-fluid > div > div.col-2 > div:nth-child(2) > div > a:hover {
                color: black;
            }

        .my-active {
            color: black;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 12px 0px 0px 12px;
            background-color: #f8f9fa;
        }

        .profile-item {
            padding: 0.8rem;
        }

        body > div.container-fluid > div > div.col-10.bg-white > div > div.row > div.col-3.nunito.text-center > div:nth-child(4) > div > img {
            max-height: 30px;
        }
        .ui-front { z-index:2147483647 !important; }
    </style>
}




<div class="container-fluid">
    <div class="row m-1">
                @Html.Partial("_ProjectPartial","team")
           
        
        <div class="col-10 ">
            <div class="container-flex p-4 bg-white wrapper-rounded" style="min-height: 650px;">
                <h3 class="nunito mb-3">Team</h3>
                <!-- wrapper for add member -->
            <div>
                @if ((string) Session["admin"] == "admin")
                {
                    <button class="btn btn-outline-primary align-items-center" data-toggle="modal"
                            data-target="#addmembermodal">
                        <i class="fas fa-user-plus pr-2"></i>
                        Add Member
                    </button>
                }

                <!-- The Member Modal -->
                <div class="modal" id="addmembermodal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->

                            <div class="modal-header">
                                <h4 class="modal-title">Add Members</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            @using (Html.BeginForm())
                            {
                                <h4 class="pl-3 mt-2">Teammates:</h4>

                                <div class="text-center">
                                    <div class="team">
                                        <input type="text" style="margin-top: 4px;" name="mem0" id="mem0">
                                        <button style="margin-left: 1px;" class="remove btn btn-light">Remove</button>
                                    </div>
                                    <button id="add" style="margin-top: 4px; border: #000000 1px solid; border-radius: 50%; background: #ffffff; position: relative; left: -45px;">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <h4 class="pl-3">Customers</h4>
                                <div class="text-center">
                                    <div class="cust">
                                        <input type="text" style="margin-top: 4px;" name="cust0" id="cust0">
                                        <button style="margin-left: 1px;" class="removecust btn btn-light">Remove</button>
                                    </div>
                                    <button id="addcust" style="margin-top: 4px; border: #000000 1px solid; border-radius: 50%; background: #ffffff; position: relative; left: -45px;">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>


                                <input type="hidden" name="no_of_customer" id="ncust" value="0"/>

                                <input type="hidden" name="no_of_teammember" id="nteam" value="0"/>

                                <input type="hidden" name="projectid" value="@ViewBag.projectid"/>

                                <br/><br/>
                                <li class="text-info m-2">Add user in only one role.(either in team or as a customer)</li>


                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary text-primary" value="Add"/>
                                </div>
                            }

                            <!-- Modal footer -->


                        </div>
                    </div>
                </div>
                <!-- The role Modal -->



            </div>
                <!--wrapper for members-->

                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <h3 class="text-left mb-3">Team Members</h3>
                        <div class="row pb-1">
                            <div class="col-3">
                                <h5>Name</h5>
                            </div>
                            <div class="col-3">
                                <h5>Email</h5>
                            </div>
                            <div class="col-3">
                                <h5>Phone No</h5>
                            </div>
                        @if ((string) Session["admin"] == "admin")
                        {
                            <div class="col-3">
                                <h5>Action</h5>
                            </div>
                        }
                        </div>
                        <hr class="mb-3"/>
                        @foreach (project_user item in ViewBag.teammodel)
                        {
                            ApplicationUserManager au = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
                            var x = au.FindById(item.user_Id);
                            string userphoto = null;
                            if (x != null)
                            {

                                userphoto = x.UserPhoto;
                            }
                            <div class="row nunito">
                                <div class="col-3">
                                    <div class="profile-item">
                                        <div class="d-flex" style="font-size: 1.1rem; font-weight: 600;align-items: center">
                                            @if (userphoto != null)
                                            {
                                                <img class='img-circle' width='50' height='50' src="~/Content/userphotos/@userphoto" style="border-radius: 50%; object-fit: cover;" />
                                            }
                                            else
                                            {
                                                <img class='img-circle' width='50' height='50' src="~/Content/images/userpic.png" style="border-radius: 50%; object-fit: cover;" />

                                            }                                                
                                            @if (x.UserName != null)
                                            {
                                                <p style="padding-left: 5px;">@x.UserName</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="profile-item">
                                        <div class="d-flex align-items-center pt-1">
                                            @x.Email
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="profile-item">
                                        <div class="d-flex align-items-center pt-1">
                                            @if (x.PhoneNumber != null)
                                            {
                                                @x.PhoneNumber
                                            }
                                        </div>
                                    </div>
                                </div>
                                @if ((string) Session["admin"] == "admin")
                                {
                                    <div class="col-3">
                                        <div class="profile-item">
                                            <button type="button" class="btn">

                                                @Html.ActionLink("Remove", "removeMember", "Project", new {pid = @ViewBag.projectid, uid = x.Id}, new {@class = "btn btn-danger"})

                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        }

                        <h3 class="text-left mb-3">Customers</h3>
                        <div class="row pb-1">
                            <div class="col-3">
                                <h5>Name</h5>
                            </div>
                            <div class="col-3">
                                <h5>Email</h5>
                            </div>
                            <div class="col-3">
                                <h5>Phone No</h5>
                            </div>
                        @if ((string) Session["admin"] == "admin")
                        {
                            <div class="col-3">
                                <h5>Action</h5>
                            </div>
                        }
                        </div>
                        <hr class="mb-3"/>
                        @foreach (project_user item in ViewBag.usermodel)
                        {
                            ApplicationUserManager au = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
                            var x = au.FindById(item.user_Id);
                            string userphoto = null;
                            if (x != null)
                            {

                                userphoto = x.UserPhoto;
                            }
                            <div class="row nunito">
                                <div class="col-3">
                                    <div class="profile-item">
                                        <div class="d-flex align-items-center"
                                             style="font-size: 1.1rem; font-weight: 600;">
                                            @if (userphoto != null)
                                            {
                                                <img class='img-circle' width='50' height='50' src="~/Content/userphotos/@userphoto" style="border-radius: 50%; object-fit: cover;" />
                                            }
                                            else
                                            {
                                                <img class='img-circle' width='50' height='50' src="~/Content/images/userpic.png" style="border-radius: 50%; object-fit: cover;" />

                                            }
                                            @if (x.UserName != null)
                                            {
                                                <p style="padding-left: 5px;">@x.UserName</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="profile-item">
                                        <div class="d-flex align-items-center pt-1">
                                            @x.Email
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="profile-item">
                                        <div class="d-flex align-items-center pt-1">
                                            @if (x.PhoneNumber != null)
                                            {
                                                @x.PhoneNumber
                                            }
                                        </div>
                                    </div>
                                </div>
                                @if ((string) Session["admin"] == "admin")
                                {
                                    <div class="col-3">
                                        <div class="profile-item">
                                            <button type="button" class="btn">

                                                @Html.ActionLink("Remove", "removeMember", "Project", new {pid = @ViewBag.projectid, uid = x.Id}, new {@class = "btn btn-danger"})

                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        <div class="alert alert-success" id="divSuccessMessage">
                            <strong>Success!</strong> Team members and customers are added.<br />
                            If any Team member or user is not added than they don't have account they need to signup in our website.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $("#cust0").autocomplete(
            {
                source : '@Url.Action("getUserEmail")'
            });
    });
</script>

<script>
    $(function() {
        $("#mem0").autocomplete(
            {
                source : '@Url.Action("getUserEmail")'
            });
    });
</script>

<script>

    if ('@ViewBag.successMessage' == "success") {
        $('#divSuccessMessage').show();
        $('#divSuccessMessage').delay(5000).fadeOut(1600);


    }
    else {
        $('#divSuccessMessage').hide();
    }

    var teammember = 0;
    var customer = 0;


    $('#add').on('click', function (e) {
        teammember++;
        var id = "mem" + teammember;
        $('#nteam').val(teammember);
        e.preventDefault();
        $('<div/>').addClass('team')
            .html($('<input type="text" style="margin-top:4px;"/>').attr("name", id).attr("id",id))
            .append($('<button class="btn btn-light" style="margin-left:4px;"/>').addClass('remove').text('Remove'))
            .insertBefore(this);

        $(function () {
            $('#' + id).autocomplete(
                {
                    source: '@Url.Action("getUserEmail")'
                });
        });
    });
    $(document).on('click', 'button.remove', function (e) {

        e.preventDefault();
        $(this).closest('div.team').remove();
    });

    $('#addcust').on('click', function (e) {
        customer++;
        $('#ncust').val(customer);

        var cid = "cust" + customer;
        e.preventDefault();
       
        $('<div/>').addClass('cust')
            .html($('<input type="text" style="margin-top:4px;"/>').attr("name", cid).attr("id",cid))
            .append($('<button class="btn btn-light" style="margin-left:4px;"/>').addClass('removecust').text('Remove'))
            .insertBefore(this);

         $(function() {
            $('#'+cid).autocomplete(
            {
                source : '@Url.Action("getUserEmail")'
            });
        });

        
     
       
    });

    $(document).on('click', 'button.removecust', function (e) {

        e.preventDefault();
        $(this).closest('div.cust').remove();
    });


</script>

