@using ProjectManagement_cum_feedback_systemMVC.Models


@*@using ProjectManagement_cum_feedback_systemMVC.Models
    @{
        ViewBag.Title = "allUserProject";
    }

    <table class="table table-hover">
        @foreach (project item in ViewBag.userproject)
        {
            <tr>

                <td>
                    @item.project_title
                </td>
                <td>
                    @Html.ActionLink("Add Member", "addMember", "Project",new {id=item.Project_Id},null)
                </td>
                <td>
                    @Html.ActionLink("Remove Project", "removeProject", "Project",new {id=item.Project_Id},null)
                </td>
            </tr>
        }
    </table>*@



@{
    ViewBag.Title = "allUserProject";
}

@section Scripts {
    <link rel="stylesheet" href="../../Content/css/style.css">
    <link rel="stylesheet" href="../../Content/css/post.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>

}

@{
    <style scoped>
        body > div > div > div > div.col-12.col-lg-9 > div > div > div > a {
            color: black;
            text-decoration: none;
        }

        body > div > div > div > div.col-12.col-lg-9 > div > div > div.card-deck > a > div:hover {
            transition: 1s ease-in-out forwards;
            transform: scale(1.02);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-3">
            <div class="row m-2 bg-white wrapper-rounded" style="min-height: 540px;">
                <div class="col-0 col-lg-12">
                    @{
                        string userphoto = Session["userpic"] as string;
                    }
                    <div class="row mt-3" style="filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));">
                        <div class="col-12 circle-profile">
                            @if (userphoto != null)
                            {
                                <img src="~/Content/userphotos/@userphoto" alt="profile" id="preview" class="img-fluid text-center">
                            }
                            else
                            {
                                <img src="~/Content/images/userpic.png" alt="profile" id="preview" class="img-fluid text-center" style="width: 239px;transform: translateX(25px) translateY(0px);">

                            }
                        </div>
                    </div>

                    <div class="row nunito mt-2">
                        <div class="col-12 text-center">
                            @*
                                <h5>@User.Identity.Name</h5>
                            *@
                            <h5>@Session["username"]</h5>
                            <h6></h6>
                            <hr size="30">
                        </div>

                        <div class="col-12 mt-3">
                            <nav class="nav flex-column">
                                @Html.ActionLink("Profile", "profile", "Project", null, new { @class = "navbar-link text-muted", @style = "padding-left:15px;" })

                                @Html.ActionLink("Projects", "allUserProject", "Project", null, new { @class = "navbar-link active", @style = "padding-left:15px;" })

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="row m-2 bg-white wrapper-rounded" style="min-height: 540px;">
                <div class="col-12">
                    <div class="row mt-4">
                        <div class="col-5 pt-2 pb-2 ml-3">
                            <div class="btn-wrap">
                                <button class="btn nunito edit-btn" data-toggle="modal" data-target="#projectModel">
                                    <a href="#">Create Project</a>
                                </button>
                            </div>

                            <div class="modal fade" id="projectModel" tabindex="-1" role="dialog" aria-labelledby="projectModel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="projectModel">Create Project</h5>
                                            <input type="file" name="picon" id="picon" accept=".jpg,.jpeg,.png" style="visibility: hidden; width: 10px; height: 10px;">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body m-3">
                                            <div class="input-fields" style="display: inline;">
                                                <label for="picon">Select Icon</label>


                                                <img src="~/Content/projecticons/default.png" alt="profile" id="ppreview" class="img-circle" style="width: 50px; height: 50px; border-radius: 50%;">



                                                <button id="editicon" style="width: 50px; border-radius: 50%; height: auto; vertical-align: center; background-color: #ffffff;display: inline" class="mt-2">
                                                    <img src="https://cdn2.iconfinder.com/data/icons/education-2-45/48/71-512.png" alt=".svg, edit, editorial, pen, pencil, write, writing icon" class="d-block mx-auto" height="40px" width="40px">
                                                </button>


                                            </div>
                                        </div>
                                        <div class="modal-body m-3">
                                            <div class="input-fields">
                                                <label for="projectname">Project Name</label>
                                                <input type="text" name="projectname1" id="projectname1"
                                                       placeholder="Enter Project Title" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="createproject" onclick="myfunction()">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                function myfunction() {
                                    var formData = new FormData();
                                    formData.append("ptitle", $("#projectname1").val());
                                    formData.append("picon", $('#picon')[0].files[0]);;
                                    //var project_title = $("#projectname1").val();
                                    var link = '@Url.Action("CreateProject", "Project", new { title = "-1" })';
                                    //link = link.replace("-1", project_title);
                                    $.ajax({
                                        type: "POST",
                                        url: link,
                                        enctype: 'multipart/form-data',
                                        contentType: false,
                                        processData: false,
                                        data: formData,
                                        success: function (data) {
                                            //alert("finally got data " + data);
                                            location.reload(true);
                                        }
                                    });




                                }
                            </script>
                        </div>
                    </div>
                    <!-- card collection    -->
                    <div class="card-deck m-2 p-3">
                        @{
                            Model1 m = new Model1();
                        }

                        @foreach (project_user item in ViewBag.userproject)
                        {
                            <a href="@Url.Action("addMember","Project",new {id=item.project_Id,role=item.role})" class="mb-2">
                                <div class="card" style="width: 15rem;">

                                    @{
                                        project z = m.projects.Find(item.project_Id);

                                    }
                                    <div style="height: 15rem;background-color: #5CC8FF;" class="text-center overflow-hidden">
                                        @if (z.project_icon != null)
                                        {
                                            <img src="~/Content/projecticons/@z.project_icon" alt="projecticon" id="projecticon" height="250" width="250">
                                        }
                                        else
                                        {
                                            <img src="~/Content/projecticons/default.png" alt="projecticon" id="projecticon" height="300" width="230">

                                        }
                                    </div>
                                    <div class="card-body nunito">
                                        <p class="card-text">@z.project_title</p>
                                    </div>

                                </div>
                            </a>


                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#editicon').click(function () {
        $('#picon').click();
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#ppreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#picon").change(function () {
        readURL(this);
    });


</script>