@using ProjectManagement_cum_feedback_systemMVC.Models
@using System;

@section Scripts {
    <link rel="stylesheet" href="../../Content/css/style.css">
    <link rel="stylesheet" href="../../Content/css/post.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>

}

@{
    <style scoped>
        body > div.container-fluid > div > div.col-9 > div > div > div > a {
            color: black;
        }

            body > div.container-fluid > div > div.col-9 > div > div > div > a > div:hover {
                transition: 1s ease-in-out forwards;
                transform: scale(1.02);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            }

        body > div > div > div > div.col-2.wrapper-rounded > div:nth-child(2) > div > a {
            text-decoration: none;
            color: #868e96;
        }

        body > div.container-fluid > div > div.col-2 > div:nth-child(2) > div > a:hover {
            color: black;
        }

        .my-active {
            color: black;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 12px 0px 0px 12px;
            background-color: #f8f9fa;
        }

        .profile-item {
            padding: 0.8rem;
        }

        body > div.container-fluid > div > div.col-10.bg-white > div > div.row > div.col-3.nunito.text-center > div:nth-child(4) > div > img {
            max-height: 30px;
        }

        body {
            background-color: #2e6dff;
        }

        .up-arrow {
            color: #9b9b9bd4;
        }

            .up-arrow:hover {
                color: #424242d4;
            }

        body > div.body-content > div > div > div > div.row.mt-3 > div > div > div.issue-wrapper.m-3.pt-4 > div > div > a {
            font-weight: 600;
            text-decoration: none;
            color: black;
        }
    </style>
}
<script>
    function detail(id, title, desc, status, priority) {
        var pri_html = "";
        $("#modal-heading").html(title);
        $("#modal-desc").html("<h4>Description</h4>" + desc);
        if (status == "1") {
            $("#modal-status").html("<h4>Work</h4> Assigned");
        }
        else {
            $("#modal-status").html("<h4>Work</h4> Not Assigned");
        }
        switch (priority) {
            case "0":
                pri_html = "<h4>Priority</h4> Very Low";
                break;
            case "1":
                pri_html = "<h4>Priority</h4> Low ";
                break;
            case "2":
                pri_html = "<h4>Priority</h4> High ";
                break;
            case "3":
                pri_html = "<h4>Priority</h4> Very high ";
                break;
        }
        $("#modal-priority").html(pri_html);
        $("#modal-heading").html(title);
        $("#myModal").modal();
    }
</script>
<div class="container-fluid">
    <div class="row m-1">
        @Html.Partial("_ProjectPartial", "board")
        <div class="col-10 ">
            <div class="row mt-3">
                <div class="col-4">
                    <div class="container-flex  bg-white wrapper-rounded">
                        <div class="row text-center pt-2">
                            <div class="col-12">
                                <h3 class="nunito">To Do</h3>
                            </div>
                        </div>
                        <div class="issue-wrapper m-3 pt-4" style="min-height: 530px;">
                            <!--Issues-->
                            @if (ViewBag.todo_model_count == 0)
                            {
                                <h1 class="nunito align-self-center text-center">No Issues</h1>
                            }
                            else
                            {

                                foreach (project_issue pi in ViewBag.todo_model)
                                {
                                    <div class="p-3 mb-1" style="border: #696969 1px solid; border-radius: 10px; box-shadow: 1px 1px;">
                                        
                                        <div class="nunito">
                                            <a href='javascript:detail("@pi.issue_Id","@pi.issue_title","@pi.issue_desc","@pi.assign_status","@pi.priority");'>
                                                @pi.issue_title

                                            </a>
                                            @if (@pi.issue_type == issue_type.bug)
                                            {
                                                <span class="label label-danger p-1" style="float: right; font-size: small; color:white;background-color: red;border-radius: 10px;">Bug</span>
                                            }
                                            else if (@pi.issue_type == issue_type.newfeature)
                                            {
                                                <span class="label label-danger p-1" style="float: right; font-size: small; color:white;background-color: blue;border-radius: 10px;">New</span>
                                            }
                                            else
                                            {
                                                <span class="label label-success p-1" style="float: right; font-size: small; color: white; background-color: green; border-radius: 10px;">Improvement</span>

                                            }
                                        </div>
                                    </div>
                                }
                            }
                            </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="container-flex  bg-white wrapper-rounded">
                        <div class="row text-center pt-2">
                            <div class="col-12">
                                <h3 class="nunito">In Progress</h3>
                            </div>
                        </div>
                        <div class="issue-wrapper m-3 pt-4" style="min-height: 530px;">
                            <!--Issues-->
                            @if (ViewBag.progress_model_count == 0)
                            {
                                <h1 class="nunito align-self-center text-center">No Issues</h1>
                            }
                            else
                            {

                                foreach (project_issue pi in ViewBag.progress_model)
                                {
                                    <div class="p-3 mb-1" style="border: #696969 1px solid; border-radius: 10px; box-shadow: 1px 1px;">

                                        <div class="nunito">
                                            <a href='javascript:detail("@pi.issue_Id","@pi.issue_title","@pi.issue_desc","@pi.assign_status","@pi.priority");'>
                                                @pi.issue_title
                                            </a>
                                            @if (@pi.issue_type == issue_type.bug)
                                            {
                                                <span class="label label-danger p-1" style="float: right; font-size: small; color:white;background-color: red;border-radius: 10px;">Bug</span>
                                            }
                                            else if (@pi.issue_type == issue_type.newfeature)
                                            {
                                                <span class="label label-danger p-1" style="float: right; font-size: small; color:white;background-color: blue;border-radius: 10px;">New</span>
                                            }
                                            else
                                            {
                                                <span class="label label-success p-1" style="float: right; font-size: small; color: white; background-color: green; border-radius: 10px;">Improvement</span>

                                            }
                                        </div>
                                    </div>
                                }
                            }
                            </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="container-flex  bg-white wrapper-rounded">
                        <div class="row text-center pt-2">
                            <div class="col-12">
                                <h3 class="nunito">Complete</h3>
                            </div>
                        </div>
                        <div class="issue-wrapper m-3 pt-4" style="min-height: 530px;">
                            <!--Issues-->
                            @if (ViewBag.done_model_count == 0)
                            {
                                <h1 class="nunito align-self-center text-center">No Issues</h1>
                            }
                            else
                            {

                                foreach (project_issue pi in ViewBag.done_model)
                                {
                                    <div class="p-3 mb-1" style="border: #696969 1px solid; border-radius: 10px; box-shadow: 1px 1px;">
                                        
                                        <div class="nunito">
                                            <a href='javascript:detail("@pi.issue_Id","@pi.issue_title","@pi.issue_desc","@pi.assign_status","@pi.priority");'>
                                                @pi.issue_title
                                            </a>
                                            @if (@pi.issue_type == issue_type.bug)
                                            {
                                                <span class="label label-danger p-1" style="float: right; font-size: small; color:white;background-color: red;border-radius: 10px;">Bug</span>
                                            }
                                            else if (@pi.issue_type == issue_type.newfeature)
                                            {
                                                <span class="label label-danger p-1" style="float: right; font-size: small; color:white;background-color: blue;border-radius: 10px;">New</span>
                                            }
                                            else
                                            {
                                                <span class="label label-success p-1" style="float: right; font-size: small; color: white; background-color: green; border-radius: 10px;">Improvement</span>

                                            }
                                        </div>
                                    </div>
                                }
                            }
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title" id="modal-heading"></h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="modal-priority" class="float-right">

                </div>
                <div id="modal-status">

                </div>
                <div id="modal-desc" class="mt-3">

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>