@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using ProjectManagement_cum_feedback_systemMVC.Models

@{
    ViewBag.Title = "createSrs";
}



@section Scripts {
    <link rel="stylesheet" href="../../Content/css/style.css">
    <link rel="stylesheet" href="../../Content/css/post.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.tiny.cloud/1/3d2cmnxfl9u6baqb2prn5gy5dphdpl588qt88u15lj2v3tbc/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 500,
            statusbar: false,
            plugins: 'lists advlist image imagetools',
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table | fontsizeselect"
        });
    </script>

}


@{

    <style>
        body > div.container-fluid > div > div.col-9 > div > div > div > a {
            color: black;
        }

            body > div.container-fluid > div > div.col-9 > div > div > div > a > div:hover {
                transition: 1s ease-in-out forwards;
                transform: scale(1.02);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            }

        body > div > div > div > div.col-2.wrapper-rounded > div:nth-child(2) > div > a {
            text-decoration: none;
            color: #868e96;
        }

            body > div.container-fluid > div > div.col-2 > div:nth-child(2) > div > a:hover {
                color: black;
            }

        .my-active {
            color: black;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 12px 0px 0px 12px;
            background-color: #f8f9fa;
        }

        .profile-item {
            padding: 0.8rem;
        }

        body > div.container-fluid > div > div.col-10.bg-white > div > div.row > div.col-3.nunito.text-center > div:nth-child(4) > div > img {
            max-height: 30px;
        }
    </style>
}





<div class="container-fluid">
    <div class="row m-1">
        @Html.Partial("_ProjectPartial","srs")



        <div class="col-10 ">
            <div class="container-flex p-4 bg-white wrapper-rounded" style="min-height: 650px;">
                <h3 class="nunito mb-3">
                    Create Software Requirement Specification
                    @if ((string)(Session["srs_acceptance"]) == "accept")
                    {
                        @:(Accepted)

                    }
                    else
                    {
                        if ((int)(Session["project_srs_status"]) == 1)
                        {
                            @:(Edit)
                        }
                       
                    }
                </h3>
                @{
                    Model1 m = new Model1();
                    int pid = Int32.Parse((string)(Session["project_id"]));
                    project p = m.projects.Find(pid);
                    ApplicationUserManager au = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
                }

                <div class="row mt-5">
                    <div class="col-12" style="padding: 0px 30px;">

                        @if (p.story_status == 1)
                        {
                            using (Html.BeginForm())
                            {
                                <textarea name="srs">
                                    @if (p.srs_status != 1)
                                    {
                                        
                                        <p class="MsoBodyText" align="center" style="text-align: left;" data-mce-style="text-align: left;"><span lang="EN-US" style="font-size: 18pt; font-family: arial, helvetica, sans-serif;" data-mce-style="font-size: 18pt; font-family: arial, helvetica, sans-serif;">Sample of SRS:</span></p><p class="MsoBodyText" align="center" style="text-align: center;" data-mce-style="text-align: center;"><span lang="EN-US" style="font-size: 18pt; font-family: arial, helvetica, sans-serif;" data-mce-style="font-size: 18pt; font-family: arial, helvetica, sans-serif;"> Software Requirements Specification </span></p><p class="MsoBodyText" align="center" style="text-align: center;" data-mce-style="text-align: center;"><span lang="EN-US" style="font-size: 18pt; font-family: arial, helvetica, sans-serif;" data-mce-style="font-size: 18pt; font-family: arial, helvetica, sans-serif;">Version 1.1</span></p><p class="MsoBodyText" align="center" style="text-align: center;" data-mce-style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif;" data-mce-style="font-family: arial, helvetica, sans-serif;"><span lang="EN-US" style="font-size:18.0pt;mso-bidi-font-size:10.0pt" data-mce-style="font-size: 18.0pt; mso-bidi-font-size: 10.0pt;">November 7, 2019</span></span></p><p class="MsoBodyText" align="center" style="text-align: center;" data-mce-style="text-align: center;"><span lang="EN-US" style="font-size: 14pt; font-family: arial, helvetica, sans-serif;" data-mce-style="font-size: 14pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">Users: Admin, Customers, Team member﻿</span><br></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">Overall Information:------</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">Requirements:﻿</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">General Requirements(for all users)</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">1.1 User login</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">input: users credential</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">output: users logged in if correct credentials otherwise error message</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;"><br data-mce-bogus="1"></span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">1.2 User Register</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">input:﻿ User's information</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">output: successfully register if all field follow all constraints</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">Description: password must be at least 8 characters, one upper case and one lower case</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;"><br data-mce-bogus="1"></span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">1.3 Update User Profile</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">........﻿</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">.....</span></p><p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">.</span></p>
                                    }
                                    else
                                    {
                                        @p.srs_desc
                                    }
                                </textarea>
                                if ((int)(Session["project_srs_status"]) != 1)
                                {
                                    <input type="submit" value="Submit" class="btn btn-primary pull-right mt-2 mr-3 text-primary" />
                                }
                                else
                                {
                                    <input type="submit" value="Edit" style="margin-bottom: 10px;" class="btn btn-primary pull-right mt-2 mr-3 text-primary" />
                                }
                                
                                <hr class="mb-3"/>
                                
                               <h3 class="mt-2"><span class="fas fa-caret-right" id="caretc">Comments:</span></h3>
                                    foreach (srs_comment x in ViewBag.comments)
                                    {
                                    @*<div style="background-color: rgb(220, 220, 220); padding:2px 2px";margin-left: 6px;" class="wrapper-rounded">
                        <p>@au.FindById(x.user_id).UserName---@x.cdate.Day @x.cdate.DayOfWeek @x.cdate.Year</p>
                        <p>@x.comment_desc</p>llo
                    </div>*@

                                    <div class="card nested">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    @if (au.FindById(x.user_id).UserPhoto != null)
                                                    {
                                                        <img src="~/Content/userphotos/@au.FindById(x.user_id).UserPhoto" class="img-circle ml-4" width='50' height='50' style="border-radius: 50%;">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/images/userpic.png" class="img-circle ml-4" width='50' height='50' style="border-radius: 50%;">

                                                    }
                                                    <p class="text-secondary text-center">@x.cdate.Day @x.cdate.DayOfWeek @x.cdate.Year</p>
                                                </div>
                                                <div class="col-md-10">

                                                    <div class="clearfix"></div>
                                                    <p>@au.FindById(x.user_id).UserName : @x.comment_desc</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    }

                                   
                                        <input type="hidden" name="projectid" value="@ViewBag.projectid" />


                                    }
                                    }
                                    else
                                    {
                                    <h3 class="text-left">Customer hasn't created Story board yet.</h3>
                                    }
</div>
                    <div id="message" class="text-center">
                        @if (ViewBag.srs_updated == true)
                        {
                            if ((int)(Session["project_srs_status"]) != 1)
                            {
                                <div class="alert alert-success" style="margin-left: 40px;">
                                    <strong>Success!</strong> SRS Created and mail is sent to all Team members and customers.<br />
                                    If you want to do any changes in that you can do it using customers feedback.
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-success" style="margin-left: 40px;">
                                    <strong>Success!</strong> Software Requirement Specification is Updated.
                                </div>
                            }
                            <script>
                                $('#message').delay(5000).fadeOut(3000);
                            </script>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.nested').hide();
   
    $('#caretc').click(function () {
        console.log("hi");
        $(".nested").toggle();
        $(this).addClass("fa-level-down").removeClass("fas fa-caret-right");
    });

</script>
