@using ProjectManagement_cum_feedback_systemMVC.Models
@using System;

@section Scripts {
    <link rel="stylesheet" href="../../Content/css/style.css">
    <link rel="stylesheet" href="../../Content/css/post.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>   
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/js/JavaScript.js"></script>
    @{
        <style scoped>
            body > div.container-fluid > div > div.col-9 > div > div > div > a {
                color: black;
            }

                body > div.container-fluid > div > div.col-9 > div > div > div > a > div:hover {
                    transition: 1s ease-in-out forwards;
                    transform: scale(1.02);
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                }

            body > div > div > div > div.col-2.wrapper-rounded > div:nth-child(2) > div > a {
                text-decoration: none;
                color: #868e96;
            }

                body > div.container-fluid > div > div.col-2 > div:nth-child(2) > div > a:hover {
                    color: black;
                }

            .my-active {
                color: black;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                border-radius: 12px 0px 0px 12px;
                background-color: #f8f9fa;
            }

            .profile-item {
                padding: 0.8rem;
            }

            body > div.container-fluid > div > div.col-10.bg-white > div > div.row > div.col-3.nunito.text-center > div:nth-child(4) > div > img {
                max-height: 30px;
            }

            body {
                background-color: #2e6dff;
            }

            .up-arrow {
                color: #9b9b9bd4;
            }

                .up-arrow:hover {
                    color: #424242d4;
                }

            body > div.body-content > div > div > div.col-10 > div.row.mt-3 > div > div > div.issue-wrapper.m-3.pt-4 > div > div.col-10.nunito > a {
                font-weight: 600;
                text-decoration: none;
                color: black;
            }
        </style>
    }
}
@{
    ViewBag.title = "Questions";
}

<input type="hidden" name="uid" id="uid" value='@Session["user_id"]' />
<script>
    var logeduser = $("#uid").val();
    console.log(logeduser);
    var nopost = "<h1 class=\"nunito mt-3 mb-3 \">No Post</h1>";
    var order = -1;
    var sortby = "id";
    function sortbyandorder(sortby, order) {
        return function (a, b) {
            if (a[sortby] > b[sortby]) {
                return 1 * order;
            } else if (a[sortby] < b[sortby]) {
                return -1 * order;
            }
            return;
        }
    }
        function getstatusofpost(id,data)
{
            var color;
            var title;
            switch (data) {
                case "todo":
                    color = "#FCFF4B";  //yellow
                    title = "Reviwed(To do)";
                    break;
                case "done":
                    color = "#3772FF";  //blue
                    title = "Completed";
                    break;
                case "inprogress":
                    color = "#06D6A0";  //green
                    title = "Work is in progress";
                    break;     
                case "notreviwed":
                default:       
                    color = "#CCDDD3";
                    title = "Not Reviwed";
                    break;                
            }
            $("#" + id + "_circle").css("background-color", color);
            $("#" + id + "_circle").attr("title", title);
//            console.log(id + "_circle");
            //console.log(color);        
}
    </script>
<script>
    var post_arr;
    function getdatapost(id) {
        console.log(id);
        $.ajax('/Project/getallpost/' + id, {
            type: 'GET',  // http method
            success: function (data, status, xhr) {
                if (data.length != 0) {
                    post_arr = data;
                    console.log(data);
                    console.log(post_arr.length);
                    post_arr.sort(sortbyandorder(sortby, -1))
                    displaypost(post_arr);
                }
                else {
                    $("#post_list").html(nopost);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert(errorMessage);
            }
        });
    }
    function editpost(id,title,desc) {
        console.log("editpost" + id);        
        $("#post_id_edit").val(id);
        $("#post_title_edit").val(title);
        $("#post_desc_edit").val(desc);
        $("#editpostmodal").modal();

    }
    function deletepost(id,title) {
        console.log("deletepost" + id);               
        $("#post_id_delete").val(id);
        $("#post_title_delete").val(title);        
        $("#deletepostmodal").modal();
    }
    function displaypost(arr) {
        $("#post_list").html("");
        for (let i = 0; i < arr.length; i+=1) {
                        var vote = 0;
                        console.log(i);
                        if (arr[i].vote >= 1000) {
                            vote = (Math.floor(arr[i].vote / 1000)) + "k";
                        }
                        else {
                            vote = arr[i].vote;
                        }
            var options = "";
            if (arr[i].user_Id == logeduser) {
                options = '<div class="col-12">' +                    
                    '<button onclick="deletepost('+arr[i].id+','+'\''+arr[i].title+'\''+')" class="float-right pr-3 btn btn-danger"> Delete</button>' +
                    '<button onclick="editpost('+arr[i].id+','+'\''+arr[i].title+'\''+','+'\''+arr[i].desc+'\''+')" class="float-right pr-3 btn btn-success"> Edit</button>' +
                    '</div>';
            }
                        temp = '<div id="searchpost"><div class="row pb-3 wrapper-rounded m-3 ">' +
                            '<div class="col-1">' +
                            '<div onclick="like(' + arr[i].id + ')">' +
                            '<div class="up-arrow text-center p-1 mt-3 ml-2"' +
                            'style="border-radius: 5px;background-color: #c4c6c8a1;width:40px;">' +
                            '<i class="fas fa-caret-up" style="font-size: 2rem;"></i>' +
                            '</div>' +
                            '</div>' +
                            '<h6 class="text-center" id="' + arr[i].id + '">' +
                            vote +
                            '</h6>' +
                            '</div>' +
                            '<div class="col-11 nunito pt-3">' +                            
                            '<a href="#" >' +                            
                                '<div style="width:20px;height:20px;clip-path: circle(50% at 50% 50%);" class="float-right" data-toggle="tooltip" data-placement="top" title="" id="' + arr[i].id + '_circle">'+
                                    ' '+
                                '</div>'+
                            '</a>' +                                                        
                            '<a href="/Post/Details/' + arr[i].id + '" style="text-decoration:none;color:black;">' +
                            '<h5>' +
                            arr[i].title +
                            '</h5>' +
                            '<p>' +
                            arr[i].desc +
                            '</p>' +
                            '</a>' +
                            '</div>' +
                            options + 
                            '</div>' +                            
                            '</div>';
                        $("#post_list").append(temp);
                        $("#post_list").append("<script>getstatusofpost(" + arr[i].id + ",'" + arr[i].status + "');<\/script>");                                                
                    }
    }
</script>
<div class="container-fluid">
    <div class="row m-1">
        @Html.Partial("_ProjectPartial","question")
        <div class="col-10 ">
            <div class="container-flex p-4 bg-white wrapper-rounded" style="min-height: 650px;">
                <h1>Questions </h1>
                <div class="float-right">
                    <input id="myInput" type="text" placeholder="Search post.." style="margin: 15px 0;">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                @if (!Session["user_project_role"].ToString().Equals("customer"))
                {
                    <div class="btn-wrap mt-3">
                        <button class="btn nunito edit-btn" data-toggle="modal" data-target="#addpostmodal">
                            Create Post
                        </button>
                    </div>
                }
                <div class="mt-5">
                    <span>Showing </span>
                    <select name="type" style="padding:0px" id="type">
                        <option value="new">New</option>
                        <option value="top">Top</option>
                    </select>
                    <span>Post</span>
                    <span class="float-right">
                        <span>Filter By  </span>
                        <select name="status" style="padding:0px" id="status">
                            <option value="all">Show All</option>
                            <option value="todo">Reviewed</option>
                            <option value="inprogress">In Progress</option>
                            <option value="done">Completed</option>
                            <option value="">Not reviwed</option>
                        </select>
                    </span>
                </div>


                <div class="container mt-2 ml-2 p-2" id="post_list">

                </div>
                <script>
                    getdatapost(@Session["project_id"]);
                </script>
                <form method="POST" action="@Url.Action("Create", "Post",new { id = @Session["project_id"]})">
                    <div class="modal fade" id="addpostmodal" tabindex="-1" role="dialog" aria-labelledby="addpostmodal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="projectModel">Create Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body m-3">
                                    <div class="input-fields">
                                        <label for="post_title">Title</label>
                                        <input type="text" name="post_title" id="post_title"
                                               placeholder="Enter" />
                                    </div>
                                    <div class="input-fields">
                                        <label for="post_desc">Description</label>
                                        <textarea rows="4" cols="50" name="post_desc" id="post_desc" placeholder="Enter"></textarea>
                                    </div>
                                    <input type="hidden" name="project_Id" value="@ViewBag.projectid" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <form method="POST" action="@Url.Action("Edit", "Post")">
                    <div class="modal fade" id="editpostmodal" tabindex="-1" role="dialog" aria-labelledby="editpostmodal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="projectModel">Edit Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body m-3">
                                    <div class="input-fields">
                                        <label for="post_title_edit">Title</label>
                                        <input type="text" name="post_title_edit" id="post_title_edit"
                                               placeholder="Enter" />
                                    </div>
                                    <div class="input-fields">
                                        <label for="post_desc_edit">Description</label>
                                        <textarea rows="4" cols="50" name="post_desc_edit" id="post_desc_edit" placeholder="Enter"></textarea>
                                    </div>
                                    <input type="hidden" name="project_Id" value="@ViewBag.projectid" />
                                    <input type="hidden" name="post_id_edit" id="post_id_edit" value="" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <form method="POST" action="@Url.Action("Delete", "Post")">
                    <div class="modal fade" id="deletepostmodal" tabindex="-1" role="dialog" aria-labelledby="editpostmodal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="projectModel">Confirm to Delete Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body m-3">
                                    <div class="input-fields">
                                        <label for="post_title_delete">Title</label>
                                        <input type="text" name="post_title_delete" id="post_title_delete"
                                               placeholder="Enter" disabled />
                                    </div>                                    
                                    <input type="hidden" name="project_Id" value="@ViewBag.projectid" />
                                    <input type="hidden" name="post_id_delete" id="post_id_delete" value="" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>   
 
</script>
<script>
    $('#status').on('change', function () {

        if (this.value == "all") {
            getdatapost(@ViewBag.projectid);
        }
        $.ajax('/Project/getpostwithparameter/' + @ViewBag.projectid, {
            type: 'GET',  // http method
            data: {paramater:this.value},
            success: function (data, status, xhr) {
                if (data.length != 0) {
                    post_arr = data;
                    console.log(data);
                    console.log(post_arr.length);
                    console.log("sort_by" + sortby + "order" + order);
                    post_arr.sort(sortbyandorder(sortby, order));
                    displaypost(post_arr);
                }
                else {
                    $("#post_list").html(nopost);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert(errorMessage);
            }
        });
        
        
    });
    $('#type').on('change', function () {        
        switch (this.value) {
        case "top":
            sortby = "vote";
            order = -1;
            break;
        case "new":
            sortby = "id";
            order = -1;
            break;
        }
        console.log(post_arr.sort(sortbyandorder(sortby, order)));        
        displaypost(post_arr);
    });
</script>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchpost h5").filter(function () {
                $(this).closest('#searchpost').toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });

        });
    });
</script>
