@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


    <style>
       
    </style>

</head>
<body style="background-color:#2e6dff">
@{
    Session["username"] = User.Identity.Name;
}
<header>
    <nav class="navbar navbar-expand-lg container container-fluid-md">
        @Html.ActionLink("Canny", "Index", "Home", new {area = ""}, new {@class = "navbar-brand nunito", @style = "font-size:2em;color:white;"})

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnavbar"
                aria-controls="mainnavbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars" style="transform: scale(1.3);"></i>
        </button>

        <div class="collapse navbar-collapse nunito" id="mainnavbar">
            <ul class="navbar-nav  ml-auto" style="font-size: 1.1em;">                
                <li class="nav-item">
                    @Html.ActionLink("Contact Us", "Contact", "Home", routeValues: null, htmlAttributes: new { title = "contact us", @class = "nav-link",@style="color:white;" })
                </li>


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
</header>
@*<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                @if (Request.IsAuthenticated)
                {
                    <li style="display: inline">
                        @Html.ActionLink("Create Project", "CreateProject", "Project", routeValues: null, htmlAttributes: new {@class = "text-white"})
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>*@
<div class="body-content">
    @RenderBody()
    <footer class="p-3" style="color: white">
            <p>&copy; @DateTime.Now.Year -Canny</p>
        </footer>
</div>

@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")*@
@RenderSection("scripts", required: false)
</body>
</html>
